[project]
	description = Android Ethernet AOSP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey Firago (afirago)
[access "refs/for/refs/*"]
	read = group user/Alexey Firago (afirago)
	push = group user/Alexey Firago (afirago)
	label-Code-Review = -2..+2 group user/Alexey Firago (afirago)
	label-Verified = -1..+1 group user/Alexey Firago (afirago)
	rebase = group user/Alexey Firago (afirago)
	removeReviewer = group user/Alexey Firago (afirago)
	submit = group user/Alexey Firago (afirago)
[access "refs/heads/*"]
	read = group user/Alexey Firago (afirago)
	create = group user/Alexey Firago (afirago)
	push = +force group user/Alexey Firago (afirago)
	pushMerge = group user/Alexey Firago (afirago)
[access "refs/tags/*"]
	push = +force group user/Alexey Firago (afirago)
	pushTag = group user/Alexey Firago (afirago)
	pushSignedTag = group user/Alexey Firago (afirago)
